
# # Define Quotes Tags Using (Natural language processing(NLP)

### Shaikha Bin Ateeq & Raghad Althunayan 

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#fe">Feature Engineering</a></li>    
<li><a href="#model">Modeling</a></li> 
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

-

**Import packiges:**

In [1]:
!pip install textblob

Requirement already satisfied: textblob in /opt/anaconda3/lib/python3.9/site-packages (0.17.1)
Requirement already satisfied: nltk>=3.1 in /opt/anaconda3/lib/python3.9/site-packages (from textblob) (3.6.5)
Requirement already satisfied: click in /opt/anaconda3/lib/python3.9/site-packages (from nltk>=3.1->textblob) (8.0.3)
Requirement already satisfied: joblib in /opt/anaconda3/lib/python3.9/site-packages (from nltk>=3.1->textblob) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in /opt/anaconda3/lib/python3.9/site-packages (from nltk>=3.1->textblob) (2021.8.3)
Requirement already satisfied: tqdm in /opt/anaconda3/lib/python3.9/site-packages (from nltk>=3.1->textblob) (4.62.3)

In [2]:
!pip install spacy

Requirement already satisfied: spacy in /opt/anaconda3/lib/python3.9/site-packages (3.2.1)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4 in /opt/anaconda3/lib/python3.9/site-packages (from spacy) (1.8.2)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.8 in /opt/anaconda3/lib/python3.9/site-packages (from spacy) (3.0.8)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /opt/anaconda3/lib/python3.9/site-packages (from spacy) (2.0.6)
Requirement already satisfied: numpy>=1.15.0 in /opt/anaconda3/lib/python3.9/site-packages (from spacy) (1.20.3)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /opt/anaconda3/lib/python3.9/site-packages (from spacy) (4.62.3)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /opt/anaconda3/lib/python3.9/site-packages (from spacy) (1.0.6)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /opt/anaconda3/lib/python3.9/site-packages (from spacy) (3.3.0)
Requirement already satisfied: pathy>=0.3.5 in /opt/anaconda3/lib/python3.9/site-packages (from spacy) (0.6.1)
Requirement already satisfied: jinja2 in /opt/anaconda3/lib/python3.9/site-packages (from spacy) (2.11.3)
Requirement already satisfied: wasabi<1.1.0,>=0.8.1 in /opt/anaconda3/lib/python3.9/site-packages (from spacy) (0.9.0)
Requirement already satisfied: srsly<3.0.0,>=2.4.1 in /opt/anaconda3/lib/python3.9/site-packages (from spacy) (2.4.2)
Requirement already satisfied: typer<0.5.0,>=0.3.0 in /opt/anaconda3/lib/python3.9/site-packages (from spacy) (0.4.0)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /opt/anaconda3/lib/python3.9/site-packages (from spacy) (2.26.0)
Requirement already satisfied: thinc<8.1.0,>=8.0.12 in /opt/anaconda3/lib/python3.9/site-packages (from spacy) (8.0.13)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /opt/anaconda3/lib/python3.9/site-packages (from spacy) (2.0.6)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /opt/anaconda3/lib/python3.9/site-packages (from spacy) (3.0.6)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/lib/python3.9/site-packages (from spacy) (21.0)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in /opt/anaconda3/lib/python3.9/site-packages (from spacy) (0.7.5)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from spacy) (1.0.1)
Requirement already satisfied: setuptools in /opt/anaconda3/lib/python3.9/site-packages (from spacy) (58.0.4)
Requirement already satisfied: pyparsing>=2.0.2 in /opt/anaconda3/lib/python3.9/site-packages (from packaging>=20.0->spacy) (3.0.4)
Requirement already satisfied: smart-open<6.0.0,>=5.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from pathy>=0.3.5->spacy) (5.2.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /opt/anaconda3/lib/python3.9/site-packages (from pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4->spacy) (3.10.0.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from requests<3.0.0,>=2.13.0->spacy) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/anaconda3/lib/python3.9/site-packages (from requests<3.0.0,>=2.13.0->spacy) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.9/site-packages (from requests<3.0.0,>=2.13.0->spacy) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.9/site-packages (from requests<3.0.0,>=2.13.0->spacy) (2021.10.8)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /opt/anaconda3/lib/python3.9/site-packages (from typer<0.5.0,>=0.3.0->spacy) (8.0.3)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/anaconda3/lib/python3.9/site-packages (from jinja2->spacy) (1.1.1)

In [3]:
! python -m spacy download en_core_web_sm

Collecting en-core-web-sm==3.2.0
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl (13.9 MB)
     |████████████████████████████████| 13.9 MB 522 kB/s eta 0:00:01
Requirement already satisfied: spacy<3.3.0,>=3.2.0 in /opt/anaconda3/lib/python3.9/site-packages (from en-core-web-sm==3.2.0) (3.2.1)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /opt/anaconda3/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (4.62.3)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (1.0.1)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (21.0)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /opt/anaconda3/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.0.6)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /opt/anaconda3/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.26.0)
Requirement already satisfied: typer<0.5.0,>=0.3.0 in /opt/anaconda3/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (0.4.0)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /opt/anaconda3/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (3.0.6)
Requirement already satisfied: numpy>=1.15.0 in /opt/anaconda3/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (1.20.3)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /opt/anaconda3/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.0.6)
Requirement already satisfied: wasabi<1.1.0,>=0.8.1 in /opt/anaconda3/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (0.9.0)
Requirement already satisfied: jinja2 in /opt/anaconda3/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.11.3)
Requirement already satisfied: thinc<8.1.0,>=8.0.12 in /opt/anaconda3/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (8.0.13)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /opt/anaconda3/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (1.0.6)
Requirement already satisfied: pathy>=0.3.5 in /opt/anaconda3/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (0.6.1)
Requirement already satisfied: srsly<3.0.0,>=2.4.1 in /opt/anaconda3/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.4.2)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /opt/anaconda3/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (3.3.0)
Requirement already satisfied: setuptools in /opt/anaconda3/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (58.0.4)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4 in /opt/anaconda3/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (1.8.2)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.8 in /opt/anaconda3/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (3.0.8)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in /opt/anaconda3/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (0.7.5)
Requirement already satisfied: pyparsing>=2.0.2 in /opt/anaconda3/lib/python3.9/site-packages (from packaging>=20.0->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (3.0.4)
Requirement already satisfied: smart-open<6.0.0,>=5.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from pathy>=0.3.5->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (5.2.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /opt/anaconda3/lib/python3.9/site-packages (from pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (3.10.0.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.9/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/anaconda3/lib/python3.9/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.9/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.0.4)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /opt/anaconda3/lib/python3.9/site-packages (from typer<0.5.0,>=0.3.0->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (8.0.3)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/anaconda3/lib/python3.9/site-packages (from jinja2->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (1.1.1)
✔ Download and installation successful
You can now load the package via spacy.load('en_core_web_sm')

In [4]:
!pip install contractions==0.0.18

Requirement already satisfied: contractions==0.0.18 in /opt/anaconda3/lib/python3.9/site-packages (0.0.18)

In [2]:
import numpy as np 
import pandas as pd
import string as st
import re
import nltk
from nltk import PorterStemmer, WordNetLemmatizer
from nltk.corpus import stopwords
from scipy import linalg
import matplotlib.pyplot as plt 
import seaborn as sns

from collections import Counter
import contractions
import string
import spacy


**Read Dataset:**

In [3]:
df= pd.read_csv("output file.csv")
df.head(5)

,Unnamed: 0,quot,author,category
0,0,"I love you as certain dark things are loved, s...","Pablo Neruda,",Love
1,1,It is an absolute human certainty that no one ...,"John Joseph Powell,",Love
2,2,If I have learned anything in this long life o...,"Kristin Hannah,",Love
3,3,your handtouching mine.this is howgalaxiescoll...,Sanober Khan,Love
4,4,I choose to love you in silence…For in silence...,Rumi,Love

**Explore The Dataset:**

In [4]:
df.shape

(83548, 4)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83548 entries, 0 to 83547
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  83548 non-null  int64
 1   quot        83548 non-null  object
 2   author      83548 non-null  object
 3   category    83548 non-null  object
dtypes: int64(1), object(3)
memory usage: 2.5+ MB

In [6]:
'''
df.quote=df.quote.astype(str)
df.author=df.author.astype(str)
df.category=df.category.astype(str) 
'''

'\ndf.quote=df.quote.astype(str)\ndf.author=df.author.astype(str)\ndf.category=df.category.astype(str) \n'

In [7]:
df.isna().sum()

Unnamed: 0    0
quot          0
author        0
category      0
dtype: int64

In [8]:
print(df.category.value_counts())

Life             6510
Love             5130
Humor            3420
Death            3000
Science          3000
Spirituality     3000
Religion         3000
Inspiration      3000
Hope             3000
Faith            3000
Romance          3000
Wisdom           3000
Truth            3000
God              3000
Inspirational    3000
Motivation       3000
Poetry           2970
Quotes           2970
Relationships    2970
Knowledge        2970
Happiness        2969
Writing          2940
Success          2940
Time             2939
Motivational     2910
Philosophy       2910
Name: category, dtype: int64

In [13]:
# merge Love and Life
df['category'] = df['category'].apply(lambda x : 'Love' if x == 'Life' else x)

# merge Religion and God
df['category'] = df['category'].apply(lambda x : 'Religion' if x == 'God' else x)

# merge Happiness and Success
df['category'] = df['category'].apply(lambda x : 'Happiness' if x == 'Success' else x)

# merge Relationships and Romance
df['category'] = df['category'].apply(lambda x : 'Relationships' if x == 'Romance' else x)

# merge Death and Truth
df['category'] = df['category'].apply(lambda x : 'Death' if x == 'Truth' else x)

#options = ['Love','Religion','Happiness','Relationships','Death']


# **Data Cleaning:**

**Select 5 Topics:**

In [14]:
#options = ['Love','Science','Death','Religion','Happiness']
options = ['Love','Religion','Happiness','Relationships','Death']
df = df[df['category'].isin(options)]

In [15]:
df.shape

(35519, 4)

**Drop Null:**

In [16]:
df = df.dropna()

 **Contraction:**

In [17]:
df['quot']=df['quot'].apply(lambda x: contractions.fix(x))

In [18]:
df.head()

,Unnamed: 0,quot,author,category
0,0,"I love you as certain dark things are loved, s...","Pablo Neruda,",Love
1,1,It is an absolute human certainty that no one ...,"John Joseph Powell,",Love
2,2,If I have learned anything in this long life o...,"Kristin Hannah,",Love
3,3,your handtouching mine.this is howgalaxiescoll...,Sanober Khan,Love
4,4,I choose to love you in silence…For in silence...,Rumi,Love

**Converting letters to lowercase:**

In [19]:
df.loc[:,"quot"] = df.quot.apply(lambda x : str.lower(x))

In [20]:
df.head()

,Unnamed: 0,quot,author,category
0,0,"i love you as certain dark things are loved, s...","Pablo Neruda,",Love
1,1,it is an absolute human certainty that no one ...,"John Joseph Powell,",Love
2,2,if i have learned anything in this long life o...,"Kristin Hannah,",Love
3,3,your handtouching mine.this is howgalaxiescoll...,Sanober Khan,Love
4,4,i choose to love you in silence…for in silence...,Rumi,Love

**Noun_English_Word**:

In [21]:
nltk.download('words')
words = set(nltk.corpus.words.words())
def Noun_English_Word(text):
    return " ".join(w for w in nltk.wordpunct_tokenize(text) \
         if w.lower() in words or not w.isalpha())

[nltk_data] Downloading package words to
[nltk_data]     /Users/raghadalthunayan/nltk_data...
[nltk_data]   Package words is already up-to-date!

In [22]:
df["quot"] = df["quot"].apply(lambda text: Noun_English_Word(text))
df.head()

,Unnamed: 0,quot,author,category
0,0,"i love you as certain dark are , secretly , be...","Pablo Neruda,",Love
1,1,it is an absolute human certainty that no one ...,"John Joseph Powell,",Love
2,2,if i have learned anything in this long life o...,"Kristin Hannah,",Love
3,3,your mine . this is .,Sanober Khan,Love
4,4,i choose to love you in silence … for in silen...,Rumi,Love

**Tokenization:**

In [23]:
nlp = spacy.load('en_core_web_sm')
df['quot'] = list(nlp.pipe(df.quot))

In [24]:
df.head()

,Unnamed: 0,quot,author,category
0,0,"(i, love, you, as, certain, dark, are, ,, secr...","Pablo Neruda,",Love
1,1,"(it, is, an, absolute, human, certainty, that,...","John Joseph Powell,",Love
2,2,"(if, i, have, learned, anything, in, this, lon...","Kristin Hannah,",Love
3,3,"(your, mine, ., this, is, .)",Sanober Khan,Love
4,4,"(i, choose, to, love, you, in, silence, …, for...",Rumi,Love

**Removing Stop Words:**

nltk:

In [ ]:
nltk.download('stopwords')
stop = stopwords.words('english')
def remove_stop_words(text):
    return ' '.join([word for word in str(text).split() if word not in (stop)])
df['quot'] = df['quot'].apply(remove_stop_words)

In [ ]:
df.head()

spacy:

In [25]:
import spacy
#loading the english language small model of spacy
en = spacy.load('en_core_web_sm')
sw_spacy = en.Defaults.stop_words
def remove_stop_words1(text):
    return ' '.join([word for word in str(text).split() if word not in (sw_spacy)])
df['quot'] = df['quot'].apply(remove_stop_words1)

**Removing punctuations:**

In [26]:
#df.loc[:,"quote"] = df.quote.apply(lambda x : " ".join(re.findall('[\w]+',x)))

In [27]:
df['quot'] = df['quot'].apply(lambda x: re.sub('[%s]' % re.escape(string.punctuation), '' , x))

In [28]:
df.head()

,Unnamed: 0,quot,author,category
0,0,love certain dark secretly shadow soul,"Pablo Neruda,",Love
1,1,absolute human certainty know beauty perceive ...,"John Joseph Powell,",Love
2,2,learned long life love find want war find,"Kristin Hannah,",Love
3,3,,Sanober Khan,Love
4,4,choose love silence … silence find rejection ...,Rumi,Love

**Removing numbers:**

In [29]:
df["quot"]=df.quot.replace('\w*\d\w*', '', regex=True)

In [30]:
df.head()

,Unnamed: 0,quot,author,category
0,0,love certain dark secretly shadow soul,"Pablo Neruda,",Love
1,1,absolute human certainty know beauty perceive ...,"John Joseph Powell,",Love
2,2,learned long life love find want war find,"Kristin Hannah,",Love
3,3,,Sanober Khan,Love
4,4,choose love silence … silence find rejection ...,Rumi,Love

**Remove Frequent Words:**

In [31]:
cnt = Counter()
for txt in df["quot"].values:
    for word in txt.split():
        cnt[word]+=1
cnt.most_common(5)

[('love', 7952),
 ('life', 7033),
 ('god', 5908),
 ('people', 4152),
 ('like', 4120)]

In [32]:
'''frequent_words = set([w for(w,wc) in cnt.most_common(10)])
def remover(txt):
    return " ".join([word for word in str(txt).split() if word not in frequent_words])

df["quote"] = df["quote"].apply(lambda txt: remover(txt))
df.head()'''

'frequent_words = set([w for(w,wc) in cnt.most_common(10)])\ndef remover(txt):\n    return " ".join([word for word in str(txt).split() if word not in frequent_words])\n\ndf["quote"] = df["quote"].apply(lambda txt: remover(txt))\ndf.head()'

In [33]:
df.head()

,Unnamed: 0,quot,author,category
0,0,love certain dark secretly shadow soul,"Pablo Neruda,",Love
1,1,absolute human certainty know beauty perceive ...,"John Joseph Powell,",Love
2,2,learned long life love find want war find,"Kristin Hannah,",Love
3,3,,Sanober Khan,Love
4,4,choose love silence … silence find rejection ...,Rumi,Love

**Removing rare words**

In [34]:
cnt = Counter()
num_rare_words = 10
rare_words = set([w for (w, wc) in cnt.most_common()[:-num_rare_words-1:-1]])

In [35]:
print(rare_words)

set()

In [36]:
def remove_rare(text):
    return " ".join([word for word in str(text).split() if word not in rare_words])

In [37]:
df["quot"] = df["quot"].apply(lambda text: remove_rare(text))
df.head()

,Unnamed: 0,quot,author,category
0,0,love certain dark secretly shadow soul,"Pablo Neruda,",Love
1,1,absolute human certainty know beauty perceive ...,"John Joseph Powell,",Love
2,2,learned long life love find want war find,"Kristin Hannah,",Love
3,3,,Sanober Khan,Love
4,4,choose love silence … silence find rejection c...,Rumi,Love

**Remove Repeating Char**

In [38]:
def remove_repeating_char(text):
    text = str(text)
    return re.sub('(.)\\1{2,}', '\\1', text)
df['quot'] = df['quot'].apply(remove_repeating_char)

In [39]:
df.head()

,Unnamed: 0,quot,author,category
0,0,love certain dark secretly shadow soul,"Pablo Neruda,",Love
1,1,absolute human certainty know beauty perceive ...,"John Joseph Powell,",Love
2,2,learned long life love find want war find,"Kristin Hannah,",Love
3,3,,Sanober Khan,Love
4,4,choose love silence … silence find rejection c...,Rumi,Love

**Stemming:**

In [40]:
stemmer = PorterStemmer()
def stem_words(text):
    return " ".join([stemmer.stem(word) for word in text.split()])

In [41]:
df["text_stemmed"] = df["quot"].apply(lambda text: stem_words(text))
df.head()

,Unnamed: 0,quot,author,category,text_stemmed
0,0,love certain dark secretly shadow soul,"Pablo Neruda,",Love,love certain dark secretli shadow soul
1,1,absolute human certainty know beauty perceive ...,"John Joseph Powell,",Love,absolut human certainti know beauti perceiv se...
2,2,learned long life love find want war find,"Kristin Hannah,",Love,learn long life love find want war find
3,3,,Sanober Khan,Love,
4,4,choose love silence … silence find rejection c...,Rumi,Love,choos love silenc … silenc find reject choos l...

**Lemmatization:**

In [42]:
from nltk.stem import WordNetLemmatizer
import nltk
nltk.download('wordnet')
lemmatizer = WordNetLemmatizer()

def lemmatize_words(text):
    return " ".join([lemmatizer.lemmatize(word) for word in text.split()])

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/raghadalthunayan/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [43]:
df["text_lemmatized"] = df["text_stemmed"].apply(lambda text: lemmatize_words(text))
df.head()

,Unnamed: 0,quot,author,category,text_stemmed,text_lemmatized
0,0,love certain dark secretly shadow soul,"Pablo Neruda,",Love,love certain dark secretli shadow soul,love certain dark secretli shadow soul
1,1,absolute human certainty know beauty perceive ...,"John Joseph Powell,",Love,absolut human certainti know beauti perceiv se...,absolut human certainti know beauti perceiv se...
2,2,learned long life love find want war find,"Kristin Hannah,",Love,learn long life love find want war find,learn long life love find want war find
3,3,,Sanober Khan,Love,,
4,4,choose love silence … silence find rejection c...,Rumi,Love,choos love silenc … silenc find reject choos l...,choos love silenc … silenc find reject choos l...

**Spell Corrections:**

In [44]:
pip install spellchecker

Requirement already satisfied: spellchecker in /opt/anaconda3/lib/python3.9/site-packages (0.4)
Requirement already satisfied: setuptools in /opt/anaconda3/lib/python3.9/site-packages (from spellchecker) (58.0.4)
Requirement already satisfied: inexactsearch in /opt/anaconda3/lib/python3.9/site-packages (from spellchecker) (1.0.2)
Requirement already satisfied: soundex>=1.0 in /opt/anaconda3/lib/python3.9/site-packages (from inexactsearch->spellchecker) (1.1.3)
Requirement already satisfied: silpa-common>=0.3 in /opt/anaconda3/lib/python3.9/site-packages (from inexactsearch->spellchecker) (0.3)
Note: you may need to restart the kernel to use updated packages.

In [45]:
pip install pyspellchecker

Requirement already satisfied: pyspellchecker in /opt/anaconda3/lib/python3.9/site-packages (0.6.2)
Note: you may need to restart the kernel to use updated packages.

In [46]:
from spellchecker import SpellChecker
spell = SpellChecker()
def correct_spellings(text):
    corrected_text = []
    misspelled_words = spell.unknown(text.split())
    for word in text.split():
        if word in misspelled_words:
            corrected_text.append(spell.correction(word))
        else:
            corrected_text.append(word)
    return " ".join(corrected_text)

In [47]:
df["text_corrected"] = df["text_lemmatized"].apply(lambda text: correct_spellings(text))

In [48]:
df.head()

,Unnamed: 0,quot,author,category,text_stemmed,text_lemmatized,text_corrected
0,0,love certain dark secretly shadow soul,"Pablo Neruda,",Love,love certain dark secretli shadow soul,love certain dark secretli shadow soul,love certain dark secretly shadow soul
1,1,absolute human certainty know beauty perceive ...,"John Joseph Powell,",Love,absolut human certainti know beauti perceiv se...,absolut human certainti know beauti perceiv se...,absolut human certainty know beauty perceive s...
2,2,learned long life love find want war find,"Kristin Hannah,",Love,learn long life love find want war find,learn long life love find want war find,learn long life love find want war find
3,3,,Sanober Khan,Love,,,
4,4,choose love silence … silence find rejection c...,Rumi,Love,choos love silenc … silenc find reject choos l...,choos love silenc … silenc find reject choos l...,choose love silence i silence find reject choo...

**Remove Word Less Than 3:**

In [49]:
df["Without3letters"]=df.text_lemmatized.str.replace(r'\b(\w{1,3})\b', '')

/var/folders/sh/7nxdcqpn0f14wcm9087htcrh0000gn/T/ipykernel_27475/4062878146.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["Without3letters"]=df.text_lemmatized.str.replace(r'\b(\w{1,3})\b', '')

In [50]:
df.head()

,Unnamed: 0,quot,author,category,text_stemmed,text_lemmatized,text_corrected,Without3letters
0,0,love certain dark secretly shadow soul,"Pablo Neruda,",Love,love certain dark secretli shadow soul,love certain dark secretli shadow soul,love certain dark secretly shadow soul,love certain dark secretli shadow soul
1,1,absolute human certainty know beauty perceive ...,"John Joseph Powell,",Love,absolut human certainti know beauti perceiv se...,absolut human certainti know beauti perceiv se...,absolut human certainty know beauty perceive s...,absolut human certainti know beauti perceiv w...
2,2,learned long life love find want war find,"Kristin Hannah,",Love,learn long life love find want war find,learn long life love find want war find,learn long life love find want war find,learn long life love find want find
3,3,,Sanober Khan,Love,,,,
4,4,choose love silence … silence find rejection c...,Rumi,Love,choos love silenc … silenc find reject choos l...,choos love silenc … silenc find reject choos l...,choose love silence i silence find reject choo...,choos love silenc … silenc find reject choos l...

### Remove document 3 word and less

In [ ]:
df['processed_desc'] = df['quot'].apply(lambda x : precosseing_pipeline(x) if len(precosseing_pipeline(x)) > 4 else np.nan)

**Drop Duplicates After Cleaning:**

In [ ]:
df.shape

In [ ]:
df.shape

In [ ]:
df = df.drop_duplicates()

In [ ]:
df.shape

In [ ]:
df.isna().sum()

In [ ]:
df.head(5)

**Save The Data After Cleaning:**

In [ ]:
df.to_csv('quotesNew.csv', index=False)

# **Exploratory data analysis (EDA)**

In [ ]:
pip install wordcloud

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from wordcloud import WordCloud,STOPWORDS

import os

In [ ]:
dff = df['quot']
text = dff.str.cat(sep=' ')
stopwords = set(STOPWORDS)
stopwords.add("said")
stopwords.add("one")

wc = WordCloud(max_font_size=40, max_words=200,stopwords=stopwords, contour_width=3, contour_color='steelblue' ,background_color="white")

wordcloud = wc.generate(text)
plt.figure(figsize=(20, 20))
plt.imshow(wordcloud, interpolation="bilinear")
plt.axis("off")
plt.show()

In [ ]:
cnt = Counter()
for txt in df["quote"].values:
    for word in txt.split():
        cnt[word]+=1
cnt.most_common(10)

In [ ]:
# Select top 20 authors with most quotes count in the dataset
top_authors_with_most_quotes = df.groupby(
    by = 'author',
    as_index = False
).count().sort_values(
    by = 'quote',
    ascending = False
).iloc[:20]

fig = plt.figure(figsize = (20, 5))
plt.bar(top_authors_with_most_quotes['author'], top_authors_with_most_quotes['quote'], color = 'b')
plt.xticks(rotation = 45)
plt.show()

In [ ]:
def get_adjectives(text):
    blob = TextBlob(text)
    return [ word for (word,tag) in blob.tags if tag == "JJ"]

df['adjectives'] = df['reviews'].apply(get_adjectives)

In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer 
from sklearn.decomposition import TruncatedSVD
from sklearn.decomposition import NMF
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
df=pd.read_csv('quotesNew-3.csv')

In [ ]:
df.head()

In [ ]:
df.isna().sum()

In [ ]:
df.dropna(axis=1,inplace=True)

In [ ]:
vectorizer = CountVectorizer()
doc_word = vectorizer.fit_transform(df['Without3letters'])
doc_word.shape

In [ ]:
pd.DataFrame(doc_word.toarray(), index=df['Without3letters'], columns=vectorizer.get_feature_names()).head(10)

In [ ]:
lsa = TruncatedSVD(5)
doc_topic = lsa.fit_transform(doc_word)
lsa.explained_variance_ratio_

In [ ]:
topic_word = pd.DataFrame(lsa.components_.round(3),
             index = ["component_1","component_2","component_3","component_4","component_5"],
             columns = vectorizer.get_feature_names())
topic_word

In [ ]:
def display_topics(model, feature_names, no_top_words, topic_names=None):
    for ix, topic in enumerate(model.components_):
        if not topic_names or not topic_names[ix]:
            print("\nTopic ", ix)
        else:
            print("\nTopic: '",topic_names[ix],"'")
        print(", ".join([feature_names[i]
                        for i in topic.argsort()[:-no_top_words - 1:-1]]))

In [ ]:
display_topics(lsa, vectorizer.get_feature_names(), 5)