
# # Define Quotes Tags Using (Natural language processing(NLP)

### Shaikha Bin Ateeq & Raghad Althunayan 

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#fe">Feature Engineering</a></li>    
<li><a href="#model">Modeling</a></li> 
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

-

In [3]:
#pip install contractions

Collecting contractions
  Downloading contractions-0.0.58-py2.py3-none-any.whl (8.0 kB)
Collecting textsearch>=0.0.21
  Downloading textsearch-0.0.21-py2.py3-none-any.whl (7.5 kB)
Collecting anyascii
  Downloading anyascii-0.3.0-py3-none-any.whl (284 kB)
     |████████████████████████████████| 284 kB 489 kB/s eta 0:00:01
Collecting pyahocorasick
  Downloading pyahocorasick-1.4.2.tar.gz (321 kB)
     |████████████████████████████████| 321 kB 1.8 MB/s eta 0:00:01
Building wheels for collected packages: pyahocorasick
  Building wheel for pyahocorasick (setup.py) ... done
  Created wheel for pyahocorasick: filename=pyahocorasick-1.4.2-cp38-cp38-macosx_10_9_x86_64.whl size=32403 sha256=51e1bb7a6d7027b590c21caedfa6d02434802f8fd6b32b0ce576a0d3294ddd3c
  Stored in directory: /Users/raghadalthunayan/Library/Caches/pip/wheels/74/bc/b8/e5f739a84005620cfe66d3fcb8bb182e309d6056bc6700b60e
Successfully built pyahocorasick
Installing collected packages: pyahocorasick, anyascii, textsearch, contractions
Successfully installed anyascii-0.3.0 contractions-0.0.58 pyahocorasick-1.4.2 textsearch-0.0.21
Note: you may need to restart the kernel to use updated packages.

In [ ]:
!pip uninstall pandas
!pip install pandas==0.22

Found existing installation: pandas 1.3.4
Uninstalling pandas-1.3.4:
  Would remove:
    /opt/anaconda3/lib/python3.9/site-packages/pandas-1.3.4-py3.9.egg-info
    /opt/anaconda3/lib/python3.9/site-packages/pandas/*
  Would not remove (might be manually added):
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/algos.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/arrays.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/groupby.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/hashing.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/hashtable.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/index.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/indexing.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/internals.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/interval.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/join.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/json.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/lib.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/missing.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/ops.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/ops_dispatch.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/parsers.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/properties.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/reduction.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/reshape.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/sparse.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/testing.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/tslib.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/tslibs/base.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/tslibs/ccalendar.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/tslibs/conversion.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/tslibs/dtypes.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/tslibs/fields.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/tslibs/nattype.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/tslibs/np_datetime.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/tslibs/offsets.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/tslibs/parsing.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/tslibs/period.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/tslibs/strptime.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/tslibs/timedeltas.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/tslibs/timestamps.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/tslibs/timezones.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/tslibs/tzconversion.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/tslibs/vectorized.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/window/aggregations.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/window/indexers.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/_libs/writers.cpython-39-darwin.so
    /opt/anaconda3/lib/python3.9/site-packages/pandas/io/sas/_sas.cpython-39-darwin.so
Proceed (Y/n)?

In [6]:
import numpy as np 
import pandas as pd
import string as st
import re
import nltk
from nltk import PorterStemmer, WordNetLemmatizer
from nltk.corpus import stopwords
from scipy import linalg
import matplotlib.pyplot as plt 
import seaborn as sns

#from collections import Counter
#from stop_words import get_stop_words
#import contractions

AttributeError: partially initialized module 'pandas' has no attribute 'core' (most likely due to a circular import)

In [ ]:
df= pd.read_csv("quotes.csv")
df.head(5)

In [33]:
df.shape

(499709, 3)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499709 entries, 0 to 499708
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   quote     499708 non-null  object
 1   author    497956 non-null  object
 2   category  499646 non-null  object
dtypes: object(3)
memory usage: 11.4+ MB

In [35]:
df.quote=df.quote.astype(str)
df.author=df.author.astype(str)
df.category=df.category.astype(str)

In [36]:
df.isna().sum()

quote       0
author      0
category    0
dtype: int64

In [37]:
df.category.value_counts()

education, happiness, hope, inspirational, intelligence, knowledge, life, love, philosophy, quotes, truth, wisdom                                      1648
humorous                                                                                                                                               1063
happiness                                                                                                                                              1013
friendship                                                                                                                                              901
prayer                                                                                                                                                  873
                                                                                                                                                       ...
grace, spirituality                                                                                                                                       1
heart, loss, love                                                                                                                                         1
education, enlightenment, light                                                                                                                           1
content, media, piracy                                                                                                                                    1
appreciating, appreciation, attitude, ledger, life, perspective, privilege, thank-you, thankful, thankful-heart, thankfulness, thanks, thanksgiving       1
Name: category, Length: 367919, dtype: int64

In [38]:
df.quote.value_counts()[df.quote.value_counts().values>10].index

Index(['The best way to remember your wife's birthday is to forget it once.',
       'I know lots more old drunks than old doctors.',
       'She's too young for Medicare and too old for me to care.',
       'None think the great unhappy  but the great.',
       'Great and good are seldom the same man.',
       'Never let go of that fiery sadness called desire.',
       'In the game of life nothing is less important than the score at half time.',
       'The magic of first love is our ignorance that it can ever end.',
       'The only way to have a friend is to be one.',
       'Every true man  sir  who is a little above the level of the beasts and plants  lives so as to give a meaning and a value to his own life.',
       'It is easier to forgive an enemy than a friend.',
       'If you would be loved  love and be lovable.',
       'Sadness flies away on the wings of time.',
       'A happy life is one which is in accordance with its own nature.',
       'A friend in need is a friend indeed.',
       'Chance makes our parents  but choice makes our friends.',
       'Make yourself necessary to somebody.',
       'You never know what is enough unless you know what is more than enough.',
       'Man's real life is happy  chiefly because he is ever expecting that it soon will be so.'],
      dtype='object')

<a id='wrangling'></a>
# Data Wrangling

>  In this section of the report, I will load in the data, check for cleanliness, and then trim and clean our dataset for analysis. I will document my steps carefully and justify cleaning decisions.

<li><a href="#Gathering">Data Gathering</a></li>
<li><a href="#Assesment">Data Assesment</a></li>
<li><a href="#Assesment Report">Assesment Report</a></li>
<li><a href="#Cleaning">Data Cleaning</a></li>

<a href="#Cleaning"></a>
## Data Cleaning

### Contraction

In [39]:
df['quote']=df['quote'].apply(lambda x: contractions.fix(x))

In [40]:
df.head()

,quote,author,category
0,"I am selfish, impatient and a little insecure....",Marilyn Monroe,"attributed-no-source, best, life, love, mistak..."
1,you have got to dance like there is nobody wat...,William W. Purkey,"dance, heaven, hurt, inspirational, life, love..."
2,You know you are in love when you cannot fall ...,Dr. Seuss,"attributed-no-source, dreams, love, reality, s..."
3,A friend is someone who knows all about you an...,Elbert Hubbard,"friend, friendship, knowledge, love"
4,Darkness cannot drive out darkness: only light...,"Martin Luther King Jr., A Testament of Hope: T...","darkness, drive-out, hate, inspirational, ligh..."

### Converting letters to lowercase

In [41]:
df.loc[:,"quote"] = df.quote.apply(lambda x : str.lower(x))

In [42]:
df.head()

,quote,author,category
0,"i am selfish, impatient and a little insecure....",Marilyn Monroe,"attributed-no-source, best, life, love, mistak..."
1,you have got to dance like there is nobody wat...,William W. Purkey,"dance, heaven, hurt, inspirational, life, love..."
2,you know you are in love when you cannot fall ...,Dr. Seuss,"attributed-no-source, dreams, love, reality, s..."
3,a friend is someone who knows all about you an...,Elbert Hubbard,"friend, friendship, knowledge, love"
4,darkness cannot drive out darkness: only light...,"Martin Luther King Jr., A Testament of Hope: T...","darkness, drive-out, hate, inspirational, ligh..."

### Removing punctuations

In [43]:
df.loc[:,"quote"] = df.quote.apply(lambda x : " ".join(re.findall('[\w]+',x)))

### Removing Stop Words

In [44]:
nltk.download('stopwords')
stop = stopwords.words('english')
def remove_stop_words(text):
    return ' '.join([word for word in str(text).split() if word not in (stop)])
df['quote'] = df['quote'].apply(remove_stop_words)

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/raghadalthunayan/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [59]:
stop

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [ ]:
# another stop_words
#from stop_words import get_stop_words

stop_words = get_stop_words('en')

def remove_stopWords(s):
    '''For removing stop words
    '''
    s = ' '.join(word for word in s.split() if word not in stop_words)
    return s

df1.loc[:,"Review_Text"] = df1.Review_Text.apply(lambda x: remove_stopWords(x))

### Removing numbers

In [45]:
df["quote"]=df.quote.replace('\w*\d\w*', '', regex=True)

### Removing the top 10 frequent words

In [46]:
cnt = Counter()
for txt in df["quote"].values:
    for word in txt.split():
        cnt[word]+=1
cnt.most_common(10)

[('one', 75840),
 ('life', 67354),
 ('like', 62236),
 ('would', 57855),
 ('people', 56887),
 ('love', 52355),
 ('us', 42959),
 ('time', 40902),
 ('know', 40397),
 ('world', 38766)]

In [48]:
frequent_words = set([w for(w,wc) in cnt.most_common(10)])
def remover(txt):
    return " ".join([word for word in str(txt).split() if word not in frequent_words])

df["quote"] = df["quote"].apply(lambda txt: remover(txt))
df.head()

,quote,author,category
0,selfish impatient little insecure make mistake...,Marilyn Monroe,"attributed-no-source, best, life, love, mistak..."
1,got dance nobody watching never hurt sing nobo...,William W. Purkey,"dance, heaven, hurt, inspirational, life, love..."
2,cannot fall asleep reality finally better dreams,Dr. Seuss,"attributed-no-source, dreams, love, reality, s..."
3,friend someone knows still loves,Elbert Hubbard,"friend, friendship, knowledge, love"
4,darkness cannot drive darkness light hate cann...,"Martin Luther King Jr., A Testament of Hope: T...","darkness, drive-out, hate, inspirational, ligh..."

In [49]:
df.shape

(499709, 3)

### Removing rare words

In [50]:
num_rare_words = 10
rare_words = set([w for (w, wc) in cnt.most_common()[:-num_rare_words-1:-1]])

In [51]:
def remove_rare(text):
    return " ".join([word for word in str(text).split() if word not in rare_words])

In [53]:
df["quote"] = df["quote"].apply(lambda text: remove_rare(text))
df.head()

,quote,author,category
0,selfish impatient little insecure make mistake...,Marilyn Monroe,"attributed-no-source, best, life, love, mistak..."
1,got dance nobody watching never hurt sing nobo...,William W. Purkey,"dance, heaven, hurt, inspirational, life, love..."
2,cannot fall asleep reality finally better dreams,Dr. Seuss,"attributed-no-source, dreams, love, reality, s..."
3,friend someone knows still loves,Elbert Hubbard,"friend, friendship, knowledge, love"
4,darkness cannot drive darkness light hate cann...,"Martin Luther King Jr., A Testament of Hope: T...","darkness, drive-out, hate, inspirational, ligh..."

### Stemming

In [57]:
stemmer = PorterStemmer()
def stem_words(text):
    return " ".join([stemmer.stem(word) for word in text.split()])

In [58]:

df["text_stemmed"] = df["quote"].apply(lambda text: stem_words(text))
df.head()

,quote,author,category,text_stemmed
0,selfish impatient little insecure make mistake...,Marilyn Monroe,"attributed-no-source, best, life, love, mistak...",selfish impati littl insecur make mistak contr...
1,got dance nobody watching never hurt sing nobo...,William W. Purkey,"dance, heaven, hurt, inspirational, life, love...",got danc nobodi watch never hurt sing nobodi l...
2,cannot fall asleep reality finally better dreams,Dr. Seuss,"attributed-no-source, dreams, love, reality, s...",cannot fall asleep realiti final better dream
3,friend someone knows still loves,Elbert Hubbard,"friend, friendship, knowledge, love",friend someon know still love
4,darkness cannot drive darkness light hate cann...,"Martin Luther King Jr., A Testament of Hope: T...","darkness, drive-out, hate, inspirational, ligh...",dark cannot drive dark light hate cannot drive...

### Lemmatization

In [ ]:
# drop duplicates
data = data.drop_duplicates().reset_index()

In [ ]:
# save after drop duplicates
data.to_csv('quotes.csv', index=False)